spring:
  datasource:
    url: "jdbc:h2:file:./data/secureappdb"
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

logging:
  level:
    "org.hibernate.SQL": "debug"
    "org.hibernate.type.descriptor.sql.BasicBinder": "trace"
    org.springframework.security: DEBUG
